a.preview230 {
  background-color: red;
}

.photo-big-230:hover a.dwnld, .bigphoto:hover a.dwnld, .pr.timer24:hover a.dwnld {
  opacity: 0.8;
}

a.dwnld {
  color: #333333;
  background-color: #999999;
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  opacity: 0.5;
  padding: 8pt 13pt 8pt 13pt;

  color: #333333;
  background-color: #999999;
  text-decoration: none;
  font-size: 12px;

  z-index: 999;
}

a.dwnld:hover {
  color: #ff0000;
  opacity: 0.9;
}

.photo-item.cols-item:hover a.dwnld {
  color: #ff0000;
  opacity: 0.9;
}

.photo-content:hover a.dwnld.big {
  color: #ff0000;
  opacity: 0.9;
}
